@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_2433586_a5q9a9oefcf.eot');
  src: url('//at.alicdn.com/t/font_2433586_a5q9a9oefcf.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2433586_a5q9a9oefcf.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2433586_a5q9a9oefcf.woff') format('woff'),
  url('//at.alicdn.com/t/font_2433586_a5q9a9oefcf.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2433586_a5q9a9oefcf.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
