$content-fontcolor:#333;
$content-bgColor:#f1f1f1;
$search-bgColor:#f5f5f5;
$bgColor:#fff;
$content-btn:#666;
$register-color:#777;
$btnColor:#0091FF;
$btn:#4FB0F9;
$hightlight-fontColor:#e93b3b;
